RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^Home?$ index.php
RewriteRule ^EnteringNow?$ login.php
RewriteRule ^BeingMember?$ signup.php
RewriteRule ^ProductDetailed?$ productdetails.php
RewriteRule ^Products?$ allproducts.php
RewriteRule ^Updating-Product?$ update_product.php

RewriteRule ^Uploading-Product?$ upload_product.php
RewriteRule ^Categories?$ allcategories.php
RewriteRule ^Selecting-Category?$ select_categories.php
RewriteRule ^Selecting-Category-To-Update?$ select_categories_update_product.php

RewriteRule ^Messages?$ mymessages.php
RewriteRule ^OwnStore?$ mystore.php
RewriteRule ^Favourites?$ myfavourites.php
RewriteRule ^Followed?$ stores_followed.php

RewriteRule ^YourStore?$ yourstore.php

RewriteRule ^ReplyingNow?$ message_reply.php

RewriteRule ^OwnAccount?$ myaccount.php
RewriteRule ^UpdateAccount?$ update_account.php

RewriteRule ^YourSearch?$ search.php
RewriteRule ^SearchByCategory?$ searchbycat.php






RewriteRule ^Home-m?$ index-mobile.php
RewriteRule ^EnteringNow-m?$ login-mobile.php
RewriteRule ^BeingMember-m?$ signup-mobile.php
RewriteRule ^ProductDetailed-m?$ productdetails-mobile.php
RewriteRule ^Products-m?$ allproducts-mobile.php
RewriteRule ^Updating-Product-m?$ update_product-mobile.php

RewriteRule ^AdvancedSearch-m?$ advanced_search-mobile.php
RewriteRule ^Uploading-Product-m?$ upload_product-mobile.php
RewriteRule ^Categories-m?$ allcategories-mobile.php
RewriteRule ^Selecting-Category-m?$ select_categories-mobile.php
RewriteRule ^Selecting-Category-To-Update-m?$ select_categories_update_product-mobile.php

RewriteRule ^Messages-m?$ mymessages-mobile.php
RewriteRule ^OwnStore-m?$ mystore-mobile.php
RewriteRule ^Favourites-m?$ myfavourites-mobile.php
RewriteRule ^Followed-m?$ stores_followed-mobile.php
RewriteRule ^Settings-m?$ settings-mobile.php

RewriteRule ^YourStore-m?$ yourstore-mobile.php

RewriteRule ^ReplyingNow-m?$ message_reply-mobile.php

RewriteRule ^OwnAccount-m?$ myaccount-mobile.php
RewriteRule ^UpdateAccount-m?$ update_account-mobile.php

RewriteRule ^YourSearch-m?$ search-mobile.php
RewriteRule ^SearchByCategory-m?$ searchbycat-mobile.php